html {
    height: 100%;
}

body {
    font: 13.34px helvetica, arial, clean, sans-serif;
    height: 100%;
    margin: 0;
}

#map_canvas {
  height: 100%;
}

#map_canvas img{
 max-width: none;
 }

#map {
    position: relative;
    width: 850px;
    height: 600px;
    margin: 0 auto;
}

#panel {
    position: absolute;
    top: 9px;
    left: 50%;
    margin-left: -180px;
    z-index: 1;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#panel input {
    border: 0px;
    margin-bottom: 0px;
}

*:focus {
    outline: 0;
}

#target {
    width: 345px;
    height: 1.5em;
}