<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock %}
        <link href="/static/rideup/img/favicon.ico" rel="icon" type="image/x-icon">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url 'index' %}">Welcome to RideUp</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'create' %}">Create a Ride!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        {% block foot %}{% endblock %}
    </body>
</html>
