{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{% static 'rideup/css/bootstrap.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'rideup/css/style.css' %}" type="text/css" />
        <link href="/static/rideup/img/favicon.ico" rel="icon" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	    <nav class="navbar navbar-default" role="navigation">
	        <div class="container">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="#">Rideup</a>
	            </div>
	            <div class="collapse navbar-collapse navbar-ex1-collapse">
	                <ul class="nav navbar-nav">
	                  <li><a id="home-link" href="{% url 'index' %}">Home</a></li>
	                  <li><a id="create-link" href="{% url 'create' %}">Create a Ride!</a></li>
	                  <li><a id="showrides-link" href="{% url 'showrides' %}">Show Rides</a></li>
	                </ul>
	            </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <script type="text/javascript" src="{% static 'rideup/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'rideup/js/bootstrap.min.js' %}"></script>
        {% block foot %}{% endblock %}
    </body>
</html>
