{% extends "rideup/base.html" %}
{% load staticfiles %}

{% block head %}
<title>RideUp - Create a ride</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Create a ride!</h2>
            <form action="{% url 'create' %}" method="post" id="create-form">
            {% csrf_token %}
                <div class="form-group">
                    <label>Place name:</label>
                    <input type="text" id="id_name" name="name"
                           placeholder="Name of the place you want to meet"
                           class="form-control"
                           style="width:345px" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">Address:</label>
                    <input type="text" id="id_address" name="address"
                           placeholder="Use the searchbox on the map!"
                           class="form-control"
                           style="width:345px" readonly>
                    <input type="hidden" id="id_lat" name="lat">
                    <input type="hidden" id="id_lng" name="lng">
                </div>
                <div class="form-group">
                    <label class="control-label">Description:</label>
                    <textarea id="id_description" name="description"
                              class="form-control"
                              placeholder="Enter a description (route, destination, speed, etc...)"
                              style="width:345px" rows="3"></textarea>
                </div>
                <button type="submit" class="btn">Submit your ride!</button>
            </form>
        </div>
        <div class="col-md-8">
            <div id="map">
                <div id="panel">
                    <input id="target" type="text" placeholder="Search for a place to start your ride">
                </div>
                <div id="map_canvas"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block foot %}
<script>
    $(document).ready(function() {
        $("#create-link").parent().addClass('active');
        $("#id_description").on("keypress", function(key) {
            if ((key.which == 10 || key.which === 13) && key.ctrlKey) {
                $("#create-form").submit();
            }
        });
    });
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHu3tscS1tG243nstn6jiAS9L2kD1OwtQ&libraries=places&sensor=false"></script>
<script type="text/javascript" src="{% static 'rideup/js/rideup-create.js' %}"></script>
{% endblock %}
