{% extends "rideup/base.html" %}
{% load staticfiles %}

{% block head %}
<title>RideUp - Create a ride</title>
<link rel="stylesheet" href="{% static 'rideup/css/bootstrap.min.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'rideup/css/style.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">

    <h2>Create a ride!</h2>
    <h3>(Search on the map for a place to ride)</h3>

    <form class="form-horizontal" action="/rideup/create/" method="post">{% csrf_token %}
        <div class="control-group">
            <label class="control-label">Place name:</label>
            <div class="controls">
                <input type="text" id="id_name" name="name"
                       placeholder="Name of the place you want to meet"
                       style="width:345px" readonly>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Address:</label>
            <div class="controls">
                <input type="text" id="id_address" name="address"
                       placeholder="Use the searchbox on the map to find a place to ride!"
                       style="width:345px" readonly>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description:</label>
            <div class="controls">
                <textarea id="id_description" name="description"
                          placeholder="Enter a description (route, destination, speed, etc...)"
                          style="width:345px" rows="2"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Submit your ride!</button>
            </div>
        </div>
    </form>

    <div id="map">
        <div id="panel">
            <input id="target" type="text" placeholder="Search for a place to start your ride">
        </div>
        <div id="map_canvas"></div>
    </div>

</div>

{% endblock %}

{% block foot %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHu3tscS1tG243nstn6jiAS9L2kD1OwtQ&libraries=places&sensor=false"></script>
<script type="text/javascript" src="{% static 'rideup/js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rideup/js/rideup.js' %}"></script>
<script type="text/javascript" src="{% static 'rideup/js/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $("#create-link").parent().addClass('active');
    });
</script>
{% endblock %}
