{% extends "rideup/base.html" %}

{% block head %}
<title>RideUp - Welcome</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome!</h2>
    {% if user.is_authenticated %}
        <h3 style="margin-bottom:20px;">Hello, {{ user.username }}! You are logged in and ready to create a ride!</h3>
        <form action="{% url 'logout' %}">
            <button type="submit" class="btn">Logout</button>
        </form>
    {% else %}
        <div class="row">
            <div class="col-md-4">
                <h3>Please log in:</h3>
                <form action="{% url 'login' %}" method="post" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>User name:</label>
                        <input class="form-control" type="text" id="id_username" name="username"
                               placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input class="form-control" type="password" id="id_password" name="password"
                               placeholder="password" required>
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>or, create an account:</h3>
                <form action="{% url 'register' %}" autocomplete="off" method="post" id="create-user-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>User name:</label>
                        <input class="form-control" type="text" id="id_create_username" name="username"
                               placeholder="username" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input class="form-control" type="password" id="id_create_password1" name="password1"
                               placeholder="password" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Re-enter password:</label>
                        <input class="form-control" type="password" id="id_create_password2" name="password2"
                               placeholder="password" autocomplete="off" required>
                    </div>
                    <button type="submit" class="btn">Create Account</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block foot %}
<script>
    $(document).ready(function() {
        $("#home-link").parent().addClass('active');
    });
</script>
{% endblock %}