{% extends "rideup/base.html" %}
{% load staticfiles %}

{% block head %}
<title>Show Rides</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Current Rides:</h2>
    <div style="margin-top: 20px;">
        {% if all_rides %}
            {% for ride in all_rides %}
                <ul style="margin-bottom: 20px;">
                    <li><strong>Place Name: </strong>{{ ride.name }}</li>
                    <li>{{ ride.address }}</li>
                    <li>{{ ride.ride_time }}</li>
                    <li>{{ ride.description }}</li>
                    <li>lat: {{ ride.lat }}</li>
                    <li>lng: {{ ride.lng }}</li>
                </ul>
            {% endfor %}
        {% else %}
            <p>No Rides have been created.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block foot %}
<script>
    $(document).ready(function() {
        $("#showrides-link").parent().addClass('active');
    });
</script>
{% endblock %}
